<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>User Login System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">


  </head>

  <body>

  <H1>That's a page for unauthorized users </H1>

  <a href="model" class="btn">Model</a>

  <script src="/static/jquery.js"> </script>
  <script src="/static/scripts.js"> </script>

  </body>
</html>